<%- include ('partials/header'); -%>

<div class="container">
<h1>Welcome to The Landing Page</h1> 

<p>Little Libraries</p>

<a href="/littlelibraries">View All Little Libraries</a>

</div>

<%- include ('partials/footer'); -%>