<%- include ('partials/header'); -%>

<div class="container">
<header class="jumbotron">
    <h1>Welcome to Little Libraries Page</h1>
    <p>Find LIttle Libraries</p>
    <p>
        <a href="littlelibraries/new">Add a New Little Library</a>
    </p>
</header>



<style>
    img {
        height: 200px;
        width: 200px;
    }
</style>

<% littlelibraries.forEach(function(littlelibrary){ %>
    <div>
        <h4><%= littlelibrary.name %></h4>
        <img src="<%= littlelibrary.image %>">
    </div>
<% }); %>


<a href="/">Back to the Landing Page</a>

</div>

<%- include ('partials/footer'); -%>